:root {
    --color-primary: #0086FF;
    --color-primary-light: #B5DDFF;
    --color-secondary: #9892EA;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
nav{
    background-color: var(--color-primary);
    padding: 1rem;
    
}
section{
    padding: 3rem 0;
}
footer{
    background-color: #333333;
}
h1{
    font-size: 4rem;
    padding: 1rem 0;
    text-align: start;
}
h2{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}
h3{
    font-size: 1.5rem;
    text-align: start;
}
p{
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: rgb(101, 98, 98);
    text-align: center;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.row-center{
    justify-content: center;

}

.row > * {
    flex-grow: 1;
    padding: 0.5rem;
}
.row-center > * {
    flex-grow: 0;
}
.row-center p{
    color: white;
}
.row-center h1{
    text-align: center;
    color: rgb(248, 204, 29);
}
.row-center h2{
    color: white;
}
.logo-container{
    
    width: auto;
}
.menu-container{
    
    width: auto;
    display: none;
    
}
.menu{
    display: flex;
}
.menu-container ul{
    display: flex;
    list-style: none;
    padding-right: 0.5rem;
}

.menu-container li{
    padding: 0.5rem 1rem;
}
.menu-container a{
    text-decoration: none;
    color: white;
}
.card-primary i{
    font-size: 5rem;
    
}
.btn-container i{
    padding-right: 0.2rem;
}
button{
    border-radius: 20px;
    border: none;
}
.card-primary button>i {
    font-size: 1.2rem;
}
.btn-white{
    padding: 0.5rem 0.8rem;
    background-color: white;
}
.btn-big{
    border-radius: 40px;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    color: var(--color-secondary);
}
.last-btn{
    text-align: center;
}
.btn-blue{
    padding: 0.5rem 2.5rem;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
}
.btn-circ{
    border-radius: 100%;
    background-color: var(--color-secondary);
    aspect-ratio: 1 / 1;
    padding: 1rem;
}
.btn-viol{
    padding: 0.8rem 2.5rem;
    color: white;
    background-color: var(--color-secondary);
}
.burger{
    height: 30px;
    width: auto;
    color: white;
    display: flex;
    align-items: center;
}
.burger i {
    font-size: 1.5rem;
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}



.col-100{
    flex-basis: 100%;
}

.card{
    border-radius: 20px;
    background-color: white;
    padding:2rem ;
    width: auto;
    text-align: center;
}
.card.card-primary{
    
}
.card-primary{
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}
.card-secondary{
    background-color: var(--color-secondary);
    color: white;
}

.card-secondary p{
    color: white;
}
.card-white-secondary{
    background-color: white;
    color: var(--color-secondary);
}
.card-secondary-bl h2{
    color: black ;
}
.card-start {
    text-align: start;
}
.card-start p{
    text-align: start;
}

.white{
    background-color: white;
}
.text-white{
    color: white;
}
.violet{
    background-color: var(--color-secondary) ;
}


#demo-img{
    display: block;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: -2rem;
}
.icon-primary{
    
    text-align: center;
}
#woman-top{
    object-fit: cover;
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
    padding-bottom: 3rem;
}
#man-bt{
    object-fit: cover;
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}
.card-secondary h2{
    padding-top: 4rem;
}
.pd-top{
    padding-top: 4rem;
}
.violet-text{
    color: var(--color-secondary);
}

.test-img{
    object-fit: cover;
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}
.test-img-2{
    object-fit: cover;
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}
.quote{
    position: relative;
    left: 60%;
    bottom: -4rem;
    font-size: 5rem;
}